{\rtf1\ansi\ansicpg950\cocoartf1344\cocoasubrtf720
{\fonttbl\f0\fnil\fcharset0 Consolas;}
{\colortbl;\red255\green255\blue255;\red15\green114\blue1;\red255\green255\blue255;\red42\green42\blue42;
\red0\green0\blue0;\red251\green0\blue129;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10380\viewh7200\viewkind0
\deftab720
\pard\pardeftab720\sl330

\f0\fs30 \cf2 \cb3 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 # built application files\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\pard\pardeftab720\sl330
\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 *.apk\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 *.ap_\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\'a0\
\pard\pardeftab720\sl330
\cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 # files for the dex VM\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\pard\pardeftab720\sl330
\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 *.dex\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\'a0\
\pard\pardeftab720\sl330
\cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 # Java class files\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\pard\pardeftab720\sl330
\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 *.class\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\'a0\
\pard\pardeftab720\sl330
\cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 # generated files\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\pard\pardeftab720\sl330
\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 bin/\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 gen/\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\'a0\
\pard\pardeftab720\sl330
\cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 # Local configuration file (sdk path, etc)\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\pard\pardeftab720\sl330
\cf6 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec6 local\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 .properties\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\'a0\
\pard\pardeftab720\sl330
\cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 # Eclipse project files\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\pard\pardeftab720\sl330
\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 .classpath\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 .project\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\'a0\
\pard\pardeftab720\sl330
\cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 # Proguard folder generated by Eclipse\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\pard\pardeftab720\sl330
\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 proguard/\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\'a0\
\pard\pardeftab720\sl330
\cf2 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 # Intellij project files\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\pard\pardeftab720\sl330
\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 *.iml\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 *.ipr\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 *.iws\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
\cf5 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec5 .idea/\cf4 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec4 \
}
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
bin/AndroidManifest.xml
bin/InventoryM.apk
bin/classes.dex
bin/classes/lin/house/inventory/BuildConfig.class
bin/classes/lin/house/inventory/IntentIntegrator$1.class
bin/classes/lin/house/inventory/IntentIntegrator.class
bin/classes/lin/house/inventory/IntentResult.class
bin/classes/lin/house/inventory/InventoryMActivity.class
bin/classes/lin/house/inventory/R$attr.class
bin/classes/lin/house/inventory/R$color.class
bin/classes/lin/house/inventory/R$dimen.class
bin/classes/lin/house/inventory/R$drawable.class
bin/classes/lin/house/inventory/R$id.class
bin/classes/lin/house/inventory/R$layout.class
bin/classes/lin/house/inventory/R$string.class
bin/classes/lin/house/inventory/R$styleable.class
bin/classes/lin/house/inventory/R.class
bin/jarlist.cache
bin/res/drawable-mdpi/ic_action_add.png
bin/res/drawable-mdpi/ic_action_add_focus.png
bin/res/drawable-mdpi/ic_action_confirm_delete.png
bin/res/drawable-mdpi/ic_action_delete.png
bin/res/drawable-mdpi/ic_action_run.png
bin/res/drawable-mdpi/ic_action_run_focus.png
bin/res/drawable-mdpi/ic_list.png
bin/res/drawable-mdpi/ic_list_focus.png
bin/res/drawable-mdpi/ic_list_none.png
bin/resources.ap_
gen/lin/house/inventory/BuildConfig.java
gen/lin/house/inventory/R.java
proguard-project.txt
project.properties
